.env
*pycache*

.cats_cache

# ReverseSpellingBee
/data_collection/ReverseSpellingBee/audio_files/
/data_collection/ReverseSpellingBee/load.py

# SpeakerDiarization
/data/SpeakerDiarization/audio/
/data/SpeakerDiarization/amicorpus/
