.env
*pycache*

*.wav

.cats_cache

# ReverseSpellingBee
/data_collection/ReverseSpellingBee/audio_files/
/data_collection/ReverseSpellingBee/load.py

# Function Calling
**/.DS_Store
/data/function_calling_test/*.wav

# SpeakerDiarization
/data/SpeakerDiarization/audio/
/data/SpeakerDiarization/amicorpus/
# Jeopardy
/data/jeopardy/data/*.wav
